[env]
BUILD_DIR = "dist"
VERSION = "{{exec(command='git describe --tags --always --dirty')}}"

[tools]
go = "1.25"
sqlite = "3.51.2"
golangci-lint = "2.10.1"
sqlc = "1.30.0"
goreleaser = "2.14.1"
"github:nrempel/sleek" = "v0.5.0"
"go:mvdan.cc/gofumpt" = "0.9.2"
"go:golang.org/x/tools/cmd/goimports" = "0.42.0"

[tasks.test]
description = "Run tests"
run = "go test ./..."

[tasks.run-cli]
description = "run cli"
run = "go run ./cmd/gns3util/main.go"

[tasks.build-cli]
description = "Build for current platform"
run = "go build -v -o $BUILD_DIR/gns3util ./cmd/gns3util"

[tasks.build-all]
description = "Build for all platforms using Goreleaser"
run = "goreleaser build --snapshot --clean"

[tasks.clean]
description = "Clean build artifacts"
run = ["rm -rf $BUILD_DIR", "rm -f $BINARY_NAME"]

[tasks.test-release]
description = "Create a test release (dry run)"
run = "goreleaser release --snapshot --clean"

[tasks.format]
description = "Run all formatters (Go and SQL)"
depends = ["format-go", "format-sql"]

[tasks."format-go"]
description = "Format Go code with goimports and gofumpt"
run = ["goimports -w .", "gofumpt -w .", "go mod tidy"]

[tasks.format-sql]
description = "Format SQL files"
run = [
  "sleek './internal/cli/cli_pkg/cluster/db/querys/*.sql'",
  "sleek './internal/cli/cli_pkg/cluster/db/schema.sql'",
]

[tasks.lint]
description = "Run linter"
run = "golangci-lint run -c .golangci.yml"

[tasks.sqlc]
description = "Generate SQL files"
run = "sqlc generate"

[tasks.release]
description = "Create a production release"
run = "goreleaser release --clean"
